h1 {
  color: #ffffff;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 2px solid #3a3a3a;
  text-align: center;
}

p {
  color: #e0e0e0;
  margin: 10px 20px;
  line-height: 1.6;
}

textarea {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 1px solid #3a3a3a;
  padding: 10px;
  margin: 10px 20px;
  width: calc(100% - 60px);
  height: 100px;
  resize: none;
  border-radius: 5px;
}

button {
  background: linear-gradient(135deg, #3a3a3a, #1a1a1a);
  color: #e0e0e0;
  border: 1px solid #3a3a3a;
  padding: 10px 20px;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #1a1a1a, #3a3a3a);
}

div {
  background-color: #2a2a2a;
  padding: 15px;
  margin: 10px;
}

input {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 1px solid #3a3a3a;
  padding: 10px;
  margin: 5px;
  width: 50%;
  resize: none;
  border-radius: 5px;
}

.d-flex {
  display: flex;
}

.bordered{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #3a3a3a;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background: linear-gradient(135deg, #3a3a3a, #1a1a1a);
  padding: 20px;
  color: #e0e0e0;
  text-align: center;
}